.contact16-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.contact16-max-width {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact16-section-title {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  max-width: 800px;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact16-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact16-row {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact16-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact16-contact-info1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-content3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-text13 {
  align-self: stretch;
  text-align: center;
}
 
.contact16-text14 {
  text-align: center;
}
 
.contact16-email1 {
  text-align: center;
}
 
.contact16-content4 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact16-contact-info2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-content5 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-text15 {
  align-self: stretch;
  text-align: center;
}
 
.contact16-text16 {
  text-align: center;
}
 
.contact16-email2 {
  text-align: center;
}
 
.contact16-content6 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact16-contact-info3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-content7 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-text17 {
  align-self: stretch;
  text-align: center;
}
 
.contact16-text18 {
  text-align: center;
}
 
.contact16-phone {
  text-align: center;
}
 
.contact16-content8 {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact16-contact-info4 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-content9 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact16-text19 {
  align-self: stretch;
  text-align: center;
}
 
.contact16-text20 {
  text-align: center;
}
 
.contact16-address {
  text-align: center;
}
 
.contact16-fragment10 {
  display: contents;
}
 
.contact16-text21 {
  display: inline-block;
}
 
.contact16-fragment11 {
  display: contents;
}
 
.contact16-text22 {
  display: inline-block;
}
 
.contact16-fragment12 {
  display: contents;
}
 
.contact16-text23 {
  display: inline-block;
}
 
.contact16-fragment13 {
  display: contents;
}
 
.contact16-text24 {
  display: inline-block;
}
 
.contact16-fragment14 {
  display: contents;
}
 
.contact16-text25 {
  display: inline-block;
}
 
.contact16-fragment15 {
  display: contents;
}
 
.contact16-text26 {
  display: inline-block;
}
 
.contact16-fragment16 {
  display: contents;
}
 
.contact16-text27 {
  display: inline-block;
}
 
.contact16-fragment17 {
  display: contents;
}
 
.contact16-text28 {
  display: inline-block;
}
 
.contact16-fragment18 {
  display: contents;
}
 
.contact16-text29 {
  display: inline-block;
}
 
.contact16-fragment19 {
  display: contents;
}
 
.contact16-text30 {
  display: inline-block;
}
 
.contact16-fragment20 {
  display: contents;
}
 
.contact16-text31 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact16-row {
    flex-direction: column;
  }
  .contact16-content2 {
    align-items: flex-start;
  }
  .contact16-contact-info1 {
    align-items: flex-start;
  }
  .contact16-text13 {
    text-align: left;
  }
  .contact16-text14 {
    text-align: left;
  }
  .contact16-content4 {
    align-items: flex-start;
  }
  .contact16-contact-info2 {
    align-items: flex-start;
  }
  .contact16-text15 {
    text-align: left;
  }
  .contact16-text16 {
    text-align: left;
  }
  .contact16-content6 {
    align-items: flex-start;
  }
  .contact16-contact-info3 {
    align-items: flex-start;
  }
  .contact16-text17 {
    text-align: left;
  }
  .contact16-text18 {
    text-align: left;
  }
  .contact16-content8 {
    align-items: flex-start;
  }
  .contact16-contact-info4 {
    align-items: flex-start;
  }
  .contact16-text19 {
    text-align: left;
  }
  .contact16-text20 {
    text-align: left;
  }
}
